#Secrets folder contain service accounts
secret*
*.pyc
*.swp
sqlite3
.DS_Store
__pycache__
.env
.vscode
.idea
src/.python_history
src/.local

src/staticfiles
src/static
prod_recipes_dump.json
prod_instagram_dump.json
db_dump.json
sqldumpfile
doc/openAPI/public
src/webpack-stats.json
src/node_modules/
src/frontend/dist/

webpack-stats.json
node_modules
package-lock.json
npm-debug.log
yarn.lock

.bash_history
.cache/
.venv

src/uploads
src/.coverage

local_settings.py
